.container {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
  margin-top: 24px;

  .linkBack {
    margin-bottom: 33px;
  }
}

.headerWithDropDown {
  display: flex;
  align-items: flex-start;
}

.headerContainer {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 15px;
}

.search {
  width: 100%;
  height: 36px;
}

.searchNotification {
  color: var(--color-dark-100);
}

.table {
  margin-bottom: 24px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .headerWithDropDown {
    display: flex;
    flex-direction: column;
  }
}

.deckImage {
  display: block;

  width: 100%;
  max-width: 500px;
  height: 110px;

  object-fit: cover;
}

.deskActions {
  display: flex;
  align-items: end;
  justify-content: space-between;

  height: 65px;
  margin-bottom: 36px;
}
