.card {
  display: flex;
  flex-direction: column;

  width: 420px;
  min-height: 280px;
  padding: 33px 35px 0;

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
}
